@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.action-bar{
  background-color: #063f06;
}

.page{
  display: flex;
  flex-direction: column;
}

.page1{
  display: flex;
  flex-direction: row;
}

.form {
  width: 100%;
  margin-left: 50;
  margin-right: 50;
}

.image-container {
    background-color: #063F06;
}

.image {
    background-color: #063F06;
    width: 50%;
}

.header {
  font-size: 48;
  text-align: left;
  color: black;
  font-weight: 700;
  margin-top: 50;
  margin-bottom: 20;
  margin-left: 15;
}

.input{
  font-size: 24; 
  margin-top: 20;
  margin-left: 15;
  color: black;
  font-weight: 700;
}

.input-rounded {
  margin-top: 12;
  border-width: 0;
  background-color: #D9D9D9;
  margin-bottom: 20;
  border-radius: 25;
  height: 36;
}

.button-container {
  width: 100%;
  flex-direction: row;
}

.btn-register {
  font-size: 16;
  font-weight: 700;
  border-width: 0;
  color: #007B00; 
}

.btn-login {
  height: 50;  
  background-color: #007B00;
  font-size: 24;
  font-weight: 700;
  margin-top: 15;
  border-width: 0;
  border-radius: 25;
  color: white;
  margin-bottom: 20;
}

.btn-forgot {
  color: black;
  font-size: 16;
  font-weight: 400;
}