<ActionBar class="action-bar" title="Login"></ActionBar>

<ScrollView height="100%">
    <FlexboxLayout class ="page"> 
        <StackLayout class="image-container">
            <Image class="image" src="~/assets/Logo.png" /> 
        </StackLayout>
        <StackLayout class="form" id="form">
            <Label class="header" text="Login"> </Label> 
            <StackLayout> 
                <Label class = "input" text = "Email"> </Label> 
                <TextField class="input-rounded" text="{{user.email}}" keyboardType="email" returnKeyType="next" autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.email"></TextField>
                <StackLayout class = "hr-light"> </StackLayout>
                <Label class = "input" text = "Password"> </Label> 
                <TextField class="input-rounded" secure = "true" returnKeyType="next" autocorrect="false" autocapitalizationType="none" text="{{user.password}}" [(ngModel)]="user.password"></TextField>
                <StackLayout class = "hr-light"> </StackLayout>
            </StackLayout>
            <Button class="btn btn-forgot" text="Forgot Password?" (tap)="forgotPassword()"></Button> 
            <Button class="btn btn-register" text="Register" (tap)="toggleDisplay()"></Button> 
            <Button class="btn btn-login" text="Login" (tap)="submit()"> </Button>
        </StackLayout>
    </FlexboxLayout>
</ScrollView>