<ActionBar title="EgoGreen"></ActionBar>
<FlexboxLayout class ="page"> 
    <StackLayout class="form" id="form">
        <Label class="header" [text]="isLoggingIn ? 'Login' : 'Register'" > </Label> 
        <StackLayout> 
            <Label class = "input" text = "Username"> </Label> 
            <TextField class="input-rounded"  text="{{user.email}}"  keyboardType="email" returnKeyType="next" autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.email" ></TextField>
            <StackLayout class = "hr-light"> </StackLayout>
            <Label class = "input" text = "Password"> </Label> 
            <TextField class="input-rounded" secure = "true" returnKeyType="next" autocorrect="false" autocapitalizationType="none" text="{{user.password}}" [(ngModel)]="user.password"></TextField>
            <StackLayout class = "hr-light"> </StackLayout>
        </StackLayout>
        <Button [text]="isLoggingIn ? 'Register' : 'Back to login'" (tap)="toggleDisplay()" class="btn"></Button>
        <Button text="Forgot Password" (tap)="forgotPassword()"></Button>
        <Button [text]="isLoggingIn ? 'Login' : 'Register'" class = "btn btn-primary" (tap)="submit()"> </Button>
    </StackLayout>
</FlexboxLayout>
