<ActionBar title="Details"></ActionBar>

<FlexboxLayout flexDirection="column">
  <FlexboxLayout class="m-15">
    <Label class="h2" [text]="receipt.merchantName + ' - '"></Label>
    <Label class="h2" [text]="receipt.date.substring(0,10)"></Label>
  </FlexboxLayout>
  <FlexboxLayout class="m-15">
    <Label class="p" [text]="'Address: ' + receipt.merchantAddress"></Label>
  </FlexboxLayout>
  <FlexboxLayout class="m-15">   
    <Label class="p" [text]="'paymentType: ' + receipt.paymentType"></Label>
  </FlexboxLayout>
  <FlexboxLayout class="m-15">
    <Label class="p" [text]="'calculatedSubTotal: ' + receipt.calculatedSubTotal"></Label>
  </FlexboxLayout>
  <FlexboxLayout class="m-15">
    <Label class="p" [text]="'taxAmount: ' + receipt.taxAmount"></Label>
  </FlexboxLayout>
  <FlexboxLayout class="m-15">    
    <Label class="p" [text]="'receiptTotal: ' + receipt.receiptTotal"></Label>
  </FlexboxLayout>
  <FlexboxLayout class="m-15">
    <Label class="p" [text]="'totalGCO2e: ' + receipt.totalGCO2e"></Label>
  </FlexboxLayout>
</FlexboxLayout>
