<ActionBar title="EgoGreen"> 
  <ActionItem (tap)="logout()">
    <Button text="Logout" class="action-item"></Button>
  </ActionItem>  
</ActionBar>


<StackLayout>
  <FlexboxLayout class ="page"> 
    <StackLayout class="form">
      <FlexboxLayout flexDirection = "row">
        <StackLayout class = "buttonbox">
            <Button class = "box-button1" [text]= "'Total Spend: $' + totalSpend" tap = "progressBar" textWrap = "true"> </Button>
        </StackLayout>

        <StackLayout class = "buttonbox2">
            <Button class = "box-button2" [text]= "'CO2 Used: ' + totalCO2 + 'kg'" tap = "register" textWrap = "true"> </Button>
        </StackLayout>

        <StackLayout class = "buttonbox">
          <Button text="Add receipt" class = "box-button1" (tap)="addReceipt()"></Button>
        </StackLayout>
    </FlexboxLayout>
    </StackLayout>
  </FlexboxLayout>

  <GridLayout>
    <ListView [items]="items">
      <ng-template let-item="item">
        <StackLayout [nsRouterLink]="['/item', item.id]">
          <Label [text]="item.merchantName + ' on ' + item.date.substring(0,10)"></Label>
          <Label [text]="'Spent: $'+item.receiptTotal"></Label>
          <Label [text]="'Grams of Co2: ' + item.totalGCO2e"></Label>
        </StackLayout>
      </ng-template>
    </ListView>
  </GridLayout>
</StackLayout> 
