<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951489554953-299u8qn30pq4qenfdrtbqvq9i4c8c1dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951489554953-299u8qn30pq4qenfdrtbqvq9i4c8c1dm</string>
	<key>API_KEY</key>
	<string>AIzaSyD96z68a-QpX-Su981YWdwCoFhPpHOeZhs</string>
	<key>GCM_SENDER_ID</key>
	<string>951489554953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.egogreenDeb</string>
	<key>PROJECT_ID</key>
	<string>egogreen-e5ca9</string>
	<key>STORAGE_BUCKET</key>
	<string>egogreen-e5ca9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951489554953:ios:eb6a5ac9636870435c66d8</string>
</dict>
</plist>